.title {
    background-color: #f1c604;
    padding: 2%;
    display: flex;
    justify-content: center;
    color: #000000;
    font-family: "Georgia", "Times New Roman", Times, serif;
    border: 1px solid black;
    margin: auto
}

.texto2 {
    margin: 2% 10%;
    font-size: large;
    padding: 2%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    margin: 0 auto;
}

.video>iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.figcaption {
    background: #850000;
    text-align: center;
    font-size: larger;
    color: white;
    padding: 3%;
    font-weight: 800;
    font-size: 1.7rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ee0303;
    padding: 2%;
    border: 1px solid black;
}

.flipcard {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flipcardinner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.401);
}

.flipcard:hover .flipcardinner {
    transform: rotateY(180deg);
}

.flipcardback {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flipcardfront {
    background-color: #bbb;
    color: black;
}

.flipcardback {
    background-color: #bb9603;
    color: white;
    transform: rotateY(180deg);
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50%;
    margin-right: 100%;
    margin-top: 3%;
}


@media screen and (max-width: 800px) {
    .texto1 {
        display: flex;
        justify-content: center;
        background-color: #f1c604;
        border-radius: 20px;
        margin-bottom: 7%;
        margin-left: 20%;
        margin-right: 20%;
        width: 60%;
        border: 3px solid black;
        margin-top: 1%;
    }
}

@media screen and (max-width: 700px) {
    .texto1 {
        display: flex;
        justify-content: center;
        background-color: #f1c604;
        border-radius: 20px;
        margin-bottom: 7%;
        margin-left: 20%;
        margin-right: 20%;
        width: 60%;
        border: 3px solid black;
        margin-top: 1%;
    }
}



.texto1 {
    display: flex;
    justify-content: center;
    background-color: #f1c604;
    border-radius: 20px;
    margin-bottom: 7%;
    margin-left: 23%;
    margin-right: 20%;
    width: 55%;
    border: 3px solid black;
    margin-top: 1%;
}


@media screen and (max-width: 400px) {

    .cabecalho {
        display: flex;
        flex-direction: column;
        width: 110%;
    }

    .title {
        font-size: 0.8em;
        padding: 2%;
        align-items: center;
        width: 120%;
        height: 160%;
    }

    .texto1 {
        display: flex;
        justify-content: center;
        background-color: #f1c604;
        border-radius: 20px;
        margin-bottom: 7%;
        margin-left: 30%;
        margin-right: 20%;
        width: 60%;
        border: 3px solid black;
        margin-top: 1%;
    }

    .rodape {
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 100%;
    }
}


