* {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: aliceblue;
}


.h1 {
  text-shadow: 3px 3px #dbac03;
  font-size: 3rem;
}

.cabecalho {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 1%;
  width: auto;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 45%;
}

button{
  background-color: #dbac03;
  border-radius: 5%;
  border: none;
  padding: 5%;
}

.rodape{
  display: flex;
  flex-direction: row;
  width: 70%;
}

.rodape_bloco2{
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 500px) {

  .cabecalho {
    display: flex;
    flex-direction: column;
    width: 98%;
  }

  .nav {
    font-size: 1em;
    width: 90%;
  }

  .title {
    font-size: 0.9em;
    /* padding: 20%; */
    align-items: center;
  }


  .figcaption {
    font-size: 1em;
    margin-bottom: 10%;
  }

  .imagem {
    height: 100%;
    width: 100%;
    margin-left: -1%;
    padding: 3%;
    margin-top: 5%;
  }

  .rodape{
    display: flex;
    flex-direction: row;
    width: 70%;
}

.rodape_bloco2{
  display: flex;
  flex-direction: row;
  width: 40%;
}
}