.rodape{
    background-color: black;
    border-right: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 3%;
    color: aliceblue;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, 'Ubuntu', Cantarell, Open Sans, 'Helvetica Neue', sans-serif;
  }

  .rodape_bloco1{
    margin-top: 3%;

  }

  .rodape_bloco2{
    font-size: 1em;
    margin-top: 1%;
  }
  
  .div_apps{
    display: flex;
    justify-content: space-around;
  }
  
  
  @media screen and (max-width: 640px) {
   
    .rodape_bloco2{
      font-size:0.75em;
    }
  }
  
  @media screen and (max-width: 455px) {
    .rodape{
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 5%;
    }
    
    .rodape_bloco2{
      font-size:small;
    }
  }